.app {
  font-family: 'Trebuchet MS';
  font-size: 16px;
}

.app__header {
  width: 100%;
  height: 50px;
  background-color: #13a3b0;
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}

.app__header__logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 90px;
  background-color: #15c1e5;
}

.app__header__logo > img {
  position: absolute;
  height: 86px;
  bottom: 0;
}

.app__header__link {
  display: inline-block;
  color: #ffffff;
  padding: 28px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.app__header__link:active,
.app__header__link:hover {
  padding-bottom: 41px;
}

.app__header__link.home {
  background-color: #9bba1f;
}

.app__header__link.groups {
  background-color: #ffa200;
}

.app__header__link.students {
  background-color: #ca3535;
}

.app__content {
  width: 100%;
  margin-top: 48px;
  margin-left: 12px;
}